<body>
    <div id="loginForm_div">
        <form id="loginFormLogin_form" method="post" action="">
            <fieldset>
                <legend> Se connecter: </legend>
                <label for="loginLogin_input">Login</label>
                <input id="loginLogin_input" class="input" type="text" name="login" value="" />
                <br>
                <label for="passwordLogin_input">Mot de passe</label>
                <input id="passwordLogin_input" class="input" type="password" name="password" value="" />
                <br>
            </fieldset>
            <input id="submitLogin_input" type="submit" name="submitLogin" value="Se connecter" />
            <input id="resetLogin_input" type="reset" name="resetLogin" value="Effacer" />
            <br>
            <br>
            <div id="infoLogin_div" class="info_div">
            </div>
        </form>
    </div>
</body>